* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Inter', sans-serif;
  }
  .shop-container{
    display: flex;
    flex-direction: column;
  }
.shop-main-container{
    display: flex;
    flex-direction: wrap;
    align-items: flex-start;
    height:calc(100% - 75px);
    margin-top: 68px;
    
}
.left-side{
    width:15%;
    background-color: black;
    border-top: 2px solid white;
    padding: 10px;
    padding-left: 20px;
    overflow-y: auto;
    position: fixed;
    left: 0;
    height: 100vh;
}
.filter-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content:center ;
    color: white;
    margin-bottom: 3px;
    
}
.filter-item h4{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
}
.filter-item  label{
    font-size: 12px;
}
.color-div{
    margin-bottom: 2px;
}
#rating{
    color: white;
    width: 80%;
    font-size: 12px;
}

.rating-value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:80%;
}
.apply-filter-btn{
    color: white;
    background-color: black;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
    text-align: center;  
 font-size: 14px;
 margin: 10px;
}
.right-side {
    width: 70%;
    padding: 1rem;
    margin-left: 20%;
}
.select-rating{
    color:green;
    font-weight: bold;
}
.search-bar {
    margin-bottom: 1rem;
}


.search-icon {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    pointer-events: none; 
}

#search-input {
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem; 
    border: 1px solid #ccc;
    border-radius: 4px;
}


.categories {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.category-btn {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
    width:150px
}
.category-btn:hover {
    background-color: #f0f0f0;
}

#product-section {
    margin-top: 2rem;
}

.categories-container {
    margin-top: 1rem;
}

.category-section {
    margin-bottom: 2rem;
}

.category-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
    padding-bottom: 0.5rem;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.product-card {
    background: #fff;
    border: 1px solid #ddd;
    width: calc(25% - 1rem); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
}
.product-size{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-top: 1px solid black;
    padding-top: 3px;
    
}
.product-detail{
    padding: 10px;
}
.product-card img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 0.5rem;
    padding: 5px;
}
.rating-product{
   display: flex;
}
.product-rating{
    color: blue !important;
    margin-left: 7px;
}
.product-card h6 {
    font-size: 18px;
    color: black;
    margin-bottom: 0.5rem;
}

.product-card p {
    font-size: 14px;
    color: black;
    margin-bottom: 1rem;
}
.product-colors{
    display: flex;
    flex-direction: row;
}
.product-card p{
    text-align: center;
}
.add-to-cart-btn {
    background-color: black;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}

